<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Attendee </title>
  </head>
  <body>
    <h1> I Will Bring: </h1>

    <form action='/party' method="POST">
      <label for='name'>Name</label>
      <input type='text' name='name' id=name/>
      <label for='item'>I Will Bring:</label>
      <input type='text' name='item' id='item'/>
      <label for='quantity'>Quantity</label>
      <input type='text' name='quantity' id='quantity'/>

      <input type='submit' value='Submit Entry'/>
      </form>
  </body>
</html>
