<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Party Time</title>
  </head>
  <body>
    <h1> Party List: </h1>
<p>

    <table>
      <tr>
    <th>  <%= partyItems.name %> </th>
    <th>  <%= partyItems.item %> </th>
    <th>  <%= partyItems.quantity %> </th>

      </tr>
      </table>
</p>
  </body>
</html>
